# Configurações da API
API_BASE_URL=https://apipcp.portaldecompraspublicas.com.br/publico
PUBLIC_KEY=SUA_PUBLIC_KEY_AQUI

# Configurações de Busca
UF=PB
DIAS_BUSCA=30

# Filtros
KEYWORDS=MATERIAL,ELETRICO
STATUS_ALVO=RECEBENDO PROPOSTAS

# Paginação
PAGE_SIZE=1
